.header {
  padding: 20px;
  text-align: center;
  background-color: #6739B7;
  color: white;
}
.nav {
  overflow: hidden;
  background-color: white;
}
.nav a {
  float: left;
  display: block;
  color: #6739B7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
.main {
  float: left;
  width: 100%;
  background-color: #f1f1f1;
  padding-left: 100px;
}
.field
{
background-color: white;
	width: 1320px;
	height: 350px;
	
}
.field h4{
	color: black;
	float: left;
}